<!--
@Title: COSC 293 Project 1
@Author: Sean Gray
@Professor: Dr. Stone
-->

<!DOCTYPE html>
<html>
	<head>
		<title>Project 1 | CTEC 293 | Internet Programming 1</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div class="container">
			<div class="title text">
				<h1>Anime: Aldnoah Zero</h1>
			</div>
			
			<div class="nav text">
				<ul class="navItems">
					<li><a href="index.html">Home</a></li>
					<li><a href="reviews.html">Reviews</a></li>
					<li><a href="forum.html">Forums</a></li>
				</ul>
			</div><!--END OF NAV DIV-->

			<div class="main">
				<div class="row">
					<div class="review">
						<div class="review-tile">
							<img src="img/aldnoah-zero.jpg"/>
						</div>
						<h2>Aldnoah Zero Season 1 Review</h2>
						<p>Throughout the war between Mars and Earth, Aldnoah Zero delivers great action and story.  I had heard great things about this anime, and it did not disappoint.</p>
						<p>Aldnoah Zero is a futuristic anime that focuses on the struggle between Mars and Earth.  The Martians exist because a group of humans went to Mars on an exploration to see if human life could be sustained.  Those who currently live on Mars suffer from lack of resources, and they envy the Terrans (inhabitants of earth).  The martians then create gigantic mechs to spark a war with the Terrans to conquer Earth and its resources.</p>
						<p>Interested yet?  This anime took me by surprise.  I was incredibly impressed with the high detail of the animation, and I was also fascinated with the plot.  The main character, however, feels lifeless.  He processes situations like a machine and it feels a bit awkward at times, but I still managed to get past that.</p>
						<p>Aldnoah Zero is a very interesting anime, and I cannot wait to continue watching the second season in January 2015.</p>
					</div><!--END OF COL-->
					
				</div><!--END OF ROW-->
			</div><!--END OF MAIN DIV-->

			<footer>
				<h6 class="text">Site powered by Sean Gray.</h6>
			</footer>
		</div><!--END OF CONTAINER-->
	</body>
</html>