<!--
@Title: COSC 293 Project 1
@Author: Sean Gray
@Professor: Dr. Stone
-->

<!DOCTYPE html>
<html>
	<head>
		<title>Project 1 | CTEC 293 | Internet Programming 1</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div class="container">
			<div class="title text">
				<h1>DC Comics: Batman The Dark Knight</h1>
			</div>
			
			<div class="nav text">
				<ul class="navItems">
					<li><a href="index.html">Home</a></li>
					<li><a href="reviews.html">Reviews</a></li>
					<li><a href="forum.html">Forums</a></li>
				</ul>
			</div><!--END OF NAV DIV-->

			<div class="main">
				<div class="row">
					<div class="review">
						<div class="review-tile">
							<img src="img/batman-the-return-of-bruce-wayne.jpg"/>
						</div>
						<h2>Batman: The Return of Bruce Wayne</h2>
						<p>At first, I was excited to read this book. Grant Morrison&#39s run, the death and return of Batman, was where I chose to seriously start my comic collection. Upon reading the two issues of this collection, I did not feel as excited as I thought I would feel. <br/><br/>The multiverse began to confuse me, and I regarded such matters, referring to Superman and Green Lantern&#39s segments at the end of time. As I read further, I began to become addicted to Bruce&#39s different time traveling periods. It was very intriguing seeing this man that we all know and love subjugated to Darkseid&#39s omega beams. <b>*SPOILER ALERT*</b> It was also very awesome to see Bruce in a time period that occurred not long after his parents were murdered.<br/><br/>

						This book was a good read. It provides different aspects to Bruce Wayne that are not commonly read. Although trying to understand the multiverse is cumbersome, I still thoroughly enjoyed this graphic novel. I recommend picking this novel up.</p>
					</div><!--END OF COL-->
					
				</div><!--END OF ROW-->
			</div><!--END OF MAIN DIV-->

			<footer>
				<h6 class="text">Site powered by Sean Gray.</h6>
			</footer>
		</div><!--END OF CONTAINER-->
	</body>
</html>