<!--
@Title: COSC 293 Project 1
@Author: Sean Gray
@Professor: Dr. Stone
-->

<!DOCTYPE html>
<html>
	<head>
		<title>Project 1 | CTEC 293 | Internet Programming 1</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div class="container">
			<div class="title text">
				<h1>Marvel: Captain America</h1>
			</div>
			
			<div class="nav text">
				<ul class="navItems">
					<li><a href="index.html">Home</a></li>
					<li><a href="reviews.html">Reviews</a></li>
					<li><a href="forum.html">Forums</a></li>
				</ul>
			</div><!--END OF NAV DIV-->

			<div class="main">
				<div class="row">
					<div class="review">
						<div class="review-tile">
							<img src="img/theDeathofCaptainAmerica.jpg"/>
						</div>
						<h2>The Death of Captain America Volume One: The Death of The Dream Review</h2>
						<p>Before I give my opinions of this volume, I must say that I was never really into Captain America. I knew of his death in comics, as well as his replacement by his former partner Bucky Barnes. I was also aware of his inevitable return to comics. It was this death that caused me to research his lore and why Steve Rogers became the inspirational Captain America.</p>

						<p>I greatly enjoyed this volume. I chose a bad part to dive into the series, but I knew enough of Ed Brubaker&#39s Captain America run to become fully immersed in this world. I could not stop reading this book. This may have been the fastest that I have ever read a volume because it was that engaging. Ed Brubaker definitely knows how to create a plot intricate enough to engage new readers, while creating a sense of urgency and panic when various different events occur.</p>

						<p>This book greatly impressed me. I did not know what to expect when I picked up this trade paperback, and I am greatly pleased with my purchase. As of writing this, I am currently reading Captain America: Red Menace, and I am highly anticipating Volume 2 of The Death of Captain America.</p>
					</div><!--END OF COL-->
					
				</div><!--END OF ROW-->
			</div><!--END OF MAIN DIV-->

			<footer>
				<h6 class="text">Site powered by Sean Gray.</h6>
			</footer>
		</div><!--END OF CONTAINER-->
	</body>
</html>