<!--
@Title: COSC 293 Project 1
@Author: Sean Gray
@Professor: Dr. Stone
-->

<!DOCTYPE html>
<html>
	<head>
		<title>Project 1 | CTEC 293 | Internet Programming 1</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div class="container">
			<div class="title text">
				<h1>Anime: Dragonball Z</h1>
			</div>
			
			<div class="nav text">
				<ul class="navItems">
					<li><a href="index.html">Home</a></li>
					<li><a href="reviews.html">Reviews</a></li>
					<li><a href="forum.html">Forums</a></li>
				</ul>
			</div><!--END OF NAV DIV-->

			<div class="main">
				<div class="row">
					<div class="review">
						<div class="review-tile">
							<img src="img/Dragon-Ball-Z-Battle-of-Gods-Wallpaper.jpg"/>
						</div>
						<h2>Dragonball Z: Battle of Gods Movie Review</h2>
						<p>Battle of Gods was an enjoyable movie to say the least.  After 20 years, Dragonball Z still delivers quality content that is enjoyable to both long-time fans and new viewers.</p>
						<p>Although BoG capitalized on its nostalgia factor, the movie did a complete 180 on Goku&#39s character.  Goku became an arrogant person, who did not wish to recieve help from his friends.  Throughout all of Dragonball Z, Goku has repeatedly asked for help in defeating whatever villain threatened the earth. </p>
						<p>Battle of Gods was a very entertaining movie.  It had some moments where characters acted unlike themselves, but it was an overall pleasant experience.</p>
					</div><!--END OF COL-->
					
				</div><!--END OF ROW-->
			</div><!--END OF MAIN DIV-->

			<footer>
				<h6 class="text">Site powered by Sean Gray.</h6>
			</footer>
		</div><!--END OF CONTAINER-->
	</body>
</html>