<!--
@Title: COSC 293 Project 1
@Author: Sean Gray
@Professor: Dr. Stone
-->

<!DOCTYPE html>
<html>
	<head>
		<title>Project 1 | CTEC 293 | Internet Programming 1</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
	</head>
	<body>
		<div class="container">
			<div class="title text">
				<h1>WELCOME TO STRYDER NEWS!</h1>
			</div>
			
			<div class="nav text">
				<ul class="navItems">
					<li class="active">Home</li>
					<li><a href="#">Reviews</a></li>
					<li><a href="#">Forums</a></li>
				</ul>
			</div><!--END OF NAV DIV-->

			<div class="main">
				<div class="row">
					<a href="batman-review.html">
						<div class="col">
							<div class="tiles">
								<img src="../img/batman-the-return-of-bruce-wayne.jpg"/>
							</div>
							<h2>The Return of Batman</h2>
							<p>At first, I was excited to read this book. Grant Morrison Batman run, the death and return of the dark knight, was where I chose to seriously start my comic collection.</p>
						</div><!--END OF COL-->
					</a>
					<a href="nova-review.html">
						<div class="col">
							<div class="tiles">
								<img src="../img/nova_vol_5_1.jpg"/>
							</div>
							<h2>Nova Volume 1</h2>
							<p>Would I get the wacky cartoon Sam Alexander from the Ultimate Spider-Man cartoon, or would I get the stoic Nova that I remember reading a few years ago. I got neither. </p>
						</div><!--END OF COL-->
					</a>
					<a href="original-sin-review.html">
						<div class="col">
							<div class="tiles">
								<img src="../img/original-sin.jpg"/>
							</div>
							<h2>Original Sin</h2>
							<p>Original Sin, was amazing to say nonetheless. It had me hooked from issue one, and very eager to see the what repercussions will unfold in the Marvel universe.</p>
						</div><!--END OF COL-->
					</a>
				</div><!--END OF ROW-->
				<div class="row">
					<a href="captainAmerica-review.html">
						<div class="col">
							<div class="tiles">
								<img src="../img/theDeathofCaptainAmerica.jpg"/>
							</div>
							<h2> Death of Captain America</h2>
							<p>I must say that I was never really into Captain America, but it was this death that caused me to research his lore and why Steve Rogers became the inspirational Captain America.</p>
						</div><!--END OF COL-->
					</a>
					<a href="dbz-review.html">
						<div class="col">
							<div class="tiles">
								<img src="../img/Dragon-Ball-Z-Battle-of-Gods-Wallpaper.jpg"/>
							</div>
							<h2>DBZ: Battle of Gods</h2>
							<p>Battle of Gods was an enjoyable movie to say the least.  After 20 years, Dragonball Z still delivers quality content that is enjoyable to both long-time fans and new viewers.</p>
						</div><!--END OF COL-->
					</a>
					<a href="aldnoahZero-review.html">
						<div class="col">
							<div class="tiles">
								<img src="../img/aldnoah-zero.jpg"/>
							</div>
							<h2>Aldnoah Zero</h2>
							<p>Throughout the war between Mars and Earth, Aldnoah Zero delivers great action and story.  I had heard great things about this anime, and it did not disappoint.</p>
						</div><!--END OF COL-->
					</a>
				</div><!--END OF ROW-->
			</div><!--END OF MAIN DIV-->

			<footer>
				<h6 class="text">Site powered by Sean Gray.</h6>
			</footer>
		</div><!--END OF CONTAINER-->
	</body>
</html>