<!--
@Title: COSC 293 Project 1
@Author: Sean Gray
@Professor: Dr. Stone
-->

<!DOCTYPE html>
<html>
	<head>
		<title>Project 1 | CTEC 293 | Internet Programming 1</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div class="container">
			<div class="title text">
				<h1>Marvel: Nova Corps</h1>
			</div>
			
			<div class="nav text">
				<ul class="navItems">
					<li><a href="index.html">Home</a></li>
					<li><a href="reviews.html">Reviews</a></li>
					<li><a href="forum.html">Forums</a></li>
				</ul>
			</div><!--END OF NAV DIV-->

			<div class="main">
				<div class="row">
					<div class="review">
						<div class="review-tile">
							<img src="img/nova_vol_5_1.jpg"/>
						</div>
						<h2>Nova: Volume 1 Review</h2>
						<p>This was an unexpected pleasure. When I purchased this volume, I had no idea what to expect. Would I get the wacky cartoon Sam Alexander from the Ultimate Spider-Man cartoon, or would I get the stoic Nova that I remember reading a few years ago. I got neither. What I received was a serious, yet fun, take on the Nova character that introduced to me both the old Nova (which I was used to) and Sam Alexander’s Nova. Jeph Loeb has impressed me once again with his writing. This book had me hooked from start to finish with it’s amazing writing and art. I strongly recommend picking up Nova Volume 1.</p>
					</div><!--END OF COL-->
					
				</div><!--END OF ROW-->
			</div><!--END OF MAIN DIV-->

			<footer>
				<h6 class="text">Site powered by Sean Gray.</h6>
			</footer>
		</div><!--END OF CONTAINER-->
	</body>
</html>