<!--
@Title: COSC 293 Project 1
@Author: Sean Gray
@Professor: Dr. Stone
-->

<!DOCTYPE html>
<html>
	<head>
		<title>Project 1 | CTEC 293 | Internet Programming 1</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div class="container">
			<div class="title text">
				<h1>Marvel: Original Sin</h1>
			</div>
			
			<div class="nav text">
				<ul class="navItems">
					<li><a href="index.html">Home</a></li>
					<li><a href="reviews.html">Reviews</a></li>
					<li><a href="forum.html">Forums</a></li>
				</ul>
			</div><!--END OF NAV DIV-->

			<div class="main">
				<div class="row">
					<div class="review">
						<div class="review-tile">
							<img src="img/original-sin.jpg"/>
						</div>
						<h2>Original Sin Review</h2>
						<p>Marvel&#39s latest event, Original Sin, was amazing to say nonetheless. It had me hooked from issue one, and very eager to see the what repercussions will unfold in the Marvel universe after issue 8. This Nick Fury centered story gave a thorough fleshing out of the character, and it gave a sense of mystery and depth in this character that I have not read before, although that is not saying much since I have not read much Nick Fury based stories. This event will be a great reread, and I highly recommend that it be read. I, for one, cannot wait to buy this in trade.</p>
					</div><!--END OF COL-->
					
				</div><!--END OF ROW-->
			</div><!--END OF MAIN DIV-->

			<footer>
				<h6 class="text">Site powered by Sean Gray.</h6>
			</footer>
		</div><!--END OF CONTAINER-->
	</body>
</html>